<h1><%= t ".title" %></h1>
<p><%= t "hello" %> <strong><%= @user.name %></strong></p>
<p><%= t ".content" %></p>
<%= link_to t(".active"), edit_account_activation_url(@user.activation_token,
  email: @user.email) %>
